# Dependency
node_modules/
bun.lockb

# Env
.env
.env.*
!.env.example

# Build
dist/
build/
*.tsbuildinfo
playwright-report/
test-results/

# Runtime
*.log
*.pid
*.seed
*.pid.lock
dump.rdb
data/

# OS & IDE
.vscode/
.idea/
.DS_Store
._*
*.swp

# Assets
uploads/*
!uploads/.gitkeep
