# Dependency
node_modules/
bun.lockb

# Env
.env
.env.*
!.env.example

# Build
dist/
build/
*.tsbuildinfo

# Runtime
*.log
*.pid
*.seed
*.pid.lock
dump.rdb

# OS & IDE
.vscode/
.idea/
.DS_Store
._*
*.swp

# Assets
uploads/*
!uploads/.gitkeep
